Repository declspecl/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

wording
  src/app/blog/post/afraid-of-yearning/page.mdx
Due: none

unlist journal entries
  src/app/blog/page.tsx
Due: prettier --write, eslint --fix

increase grid background visibility
  src/app/globals.css
Due: prettier --write

Fix year and month difference calculation
  src/lib/timeline/server.ts
Due: prettier --write, eslint --fix

grizzhacks 😎
  public/images/grizzhacks7/duckduckcode-architecture.webp
  public/images/grizzhacks7/walk.webp
  public/images/grizzhacks7/wall.webp
  src/app/blog/page.tsx
  src/app/blog/post/afraid-of-yearning/page.mdx
  src/app/blog/post/grizzhacks7/page.mdx
  src/app/blog/post/making-java-enjoyable/page.mdx
  src/lib/blog/data.tsx
Due: prettier --write, eslint --fix

fix
  src/app/blog/post/grizzhacks7/page.mdx
Due: none

111
  src/app/blog/post/grizzhacks7/page.mdx
Due: none

typo
  src/app/blog/post/grizzhacks7/page.mdx
Due: none

upgrade to tailwindv4
  components.json
  package-lock.json
  package.json
  postcss.config.mjs
  shell.nix
  src/app/globals.css
  src/app/icon1.png
  src/app/icon2.png
  src/app/icon3.png
  src/app/icon4.png
  src/app/icon5.png
  src/app/icons/apple-icon.png
  src/app/icons/icon.png
  src/app/manifest.ts
  src/app/robots.ts
  src/app/sitemap.ts
  src/components/blog/BlogPostCard.tsx
  src/components/layout/ResponsiveContainer.tsx
  src/components/navbar/DesktopNavbar.tsx
  src/components/navbar/MobileNavbar.tsx
  src/components/projects/ProjectShowcase.tsx
  src/components/timeline/TimelineEntry.tsx
  src/components/timeline/TimelineSwitcher.tsx
  src/components/timeline/ToPresentDateRange.tsx
  src/components/ui/Badge.tsx
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/Dialog.tsx
  src/components/ui/Separator.tsx
  src/components/ui/Tabs.tsx
  src/lib/blog/data.tsx
  src/lib/projects/data.tsx
  src/lib/timeline/data.tsx
  src/lib/timeline/server.ts
  src/views/Hero.tsx
  tailwind.config.ts
  tsconfig.json
Due: prettier --write, eslint --fix

upgrade dx fmts
  .eslintrc.json
  .prettierrc.json
  eslint.config.mjs
  next.config.mjs
  next.config.ts
  package-lock.json
  package.json
  prettier.config.mjs
Due: prettier --write, eslint --fix

upgrade dependencies
  .envrc
  .gitignore
  mise.toml
  next.config.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/manifest.ts
  src/app/robots.ts
  src/app/sitemap.ts
  tsconfig.json
Due: prettier --write, eslint --fix

pnpm
  .lintstagedrc.json
  package.json
Due: prettier --write

small updates
  .cursor/mcp.json
  components.json
  package.json
  pnpm-lock.yaml
  src/components/hero/hero-badges.tsx
  src/lib/projects/data.tsx
Due: prettier --write, eslint --fix

update
  package.json
  pnpm-lock.yaml
  src/lib/timeline/server.ts
Due: prettier --write, eslint --fix

amazon
  src/lib/timeline/data.tsx
Due: prettier --write, eslint --fix

custom amplify.yml
  amplify.yml
Due: none

Path conditions:
  prettier --write: any of: *.{json,mjs,cjs,ts,tsx,css}
  eslint --fix: any of: *.{mjs,cjs,ts,tsx}
